body {
  margin: 0;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 25px;
}

td:nth-child(odd) {
  background-color: red;
}

td:nth-child(even) {
  background-color: fuchsia;
}
