body {
  margin: 0;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2e4d8;
}

caption {
  text-align: left;
  font-size: 25px;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}

table {
  width: 800px;
  border-collapse: collapse;
  caption-side: top;
}

th {
  background-color: white;
  font-weight: 100;
}

th,
td {
  border-top: 1px solid gray;
  border-bottom: 1px solid grey;
  padding: 8px;
  text-align: center;
}

tr td:first-child {
  text-align: left;
  font-weight: bold;
}

th:first-child {
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #e5ba97;
}

tr:hover {
  background-color: coral;
}

tr td:hover {
  background-color: fuchsia;
}

#rojo {
  color: red;
}

#verde {
  color: green;
}
