main {
  width: 800px;
  margin: 20px auto;
}

h2 {
  font-size: 30px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: 45%;
}

.titulo {
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.requerido {
  color: red;
  font-size: 30px;
}

fieldset div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

input,
select {
  border: 1px solid grey;
  padding: 5px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}

label:not(.titulo) {
  display: block;
  font-size: 14px;
  color: grey;
  margin-bottom: 10px;
  width: 100%;
}

#nombre {
  width: 50%;
}

#apellido1,
#apellido2 {
  width: 90%;
}

#direccion {
  width: 100%;
}

#codigopostal,
#municipio {
  width: 42%;
}

#provincia,
#pais {
  width: 45%;
}

label[for="codigopostal"],
label[for="municipio"],
label[for="provincia"],
label[for="pais"] {
  width: 45%;
}

#email {
  width: 90%;
}

#telefonofijo,
#telefonomovil {
  width: 45%;
}

label[for="telefonofijo"],
label[for="telefonomovil"] {
  width: 48%;
}

.ayuda {
  display: none;
}

#alta {
  font-weight: bold;
  background-color: #f4f5bc;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 15px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

fieldset:last-of-type {
  width: 100%;
  border-top: 1px solid grey;
  padding-top: 20px;
  text-align: right;
}
