body {
  margin: 0;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3f5efb;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}

.todo {
  text-align: center;
}

.boton {
  display: inline-block;
  padding: 12px 25px;
  background: #facc3e;
  color: #5c617a;
  font-weight: bolder;
  border-radius: 50px;
  margin-bottom: 20px;
}

.circulo {
  width: 220px;
  height: 220px;
  background: red;
  border-radius: 50%;
  position: relative;
  margin: auto;
  transform: rotate(0deg);
}

.flecha {
  width: 14px;
  height: 90px;
  background: white;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.boton:hover ~ .circulo {
  animation: girar 60s linear;
}

/*No se como hacer un botón*/
