body {
  background-color: #440f44;
  padding-top: 10px;
}

.menu {
  list-style: none;
  display: flex;
  background: #333;
  padding: 0;
  margin: 0;
}

.menu > li {
  position: relative;
  padding: 15px 25px;
  color: #6d9a55;
}

.menu > li:hover {
  background: #444;
}

.submenu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #555;
  padding: 0;
  margin: 0;
  overflow: hidden;

  max-height: 0;
  transition: max-height 0.5s;
}

.submenu li {
  padding: 12px 20px;
  color: #6d9a55;
}

.submenu li:hover {
  background: #666;
}

.menu > li:hover .submenu {
  max-height: 300px;
}
