h1 {
  text-align: center;
}

form {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background: #f1e0b1;
}

legend {
  font-size: 25px;
  font-weight: bold;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
  width: 95%;
  width: 95%;
  padding: 6px;
  margin-top: 5px;
}
