/*Esto para darle forma*/

.abecedario {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.abecedario p {
    display: inline-block;
    width: 16%;
    font-size: 150px;
    margin: 1%;
    vertical-align: bottom;
}

/*Colores*/

body {
    background-color: rgb(45, 182, 170);
}

.rojo {
    color: red;
}

.amarillo {
    color: yellow;
}

.verde {
    color: green;
}

.morado {
    color: purple;
}

.azul {
    color: blue;
}

.naranja {
    color: orange;
}

.rosa {
    color: pink;
}

/*Los tipos de letra*/

.kablammo {
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 0;
}

.fontdiner-swanky-regular {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
}

.give-you-glory-regular {
    font-family: "Give You Glory", cursive;
    font-weight: 400;
    font-style: normal;
}

.londrina-shadow-regular {
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.snowburst-one-regular {
    font-family: "Snowburst One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.yuji-hentaigana-akari-regular {
    font-family: "Yuji Hentaigana Akari", cursive;
    font-weight: 400;
    font-style: normal;
}

.reenie-beanie-regular {
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
}

.butterfly-kids-regular {
    font-family: "Butterfly Kids", cursive;
    font-weight: 400;
    font-style: normal;
}

.eater-regular {
    font-family: "Eater", serif;
    font-weight: 400;
    font-style: normal;
}

.rubik-burned-regular {
    font-family: "Rubik Burned", system-ui;
    font-weight: 400;
    font-style: normal;
}

.rubik-puddles-regular {
    font-family: "Rubik Puddles", system-ui;
    font-weight: 400;
    font-style: normal;
}

.rubik-microbe-regular {
    font-family: "Rubik Microbe", system-ui;
    font-weight: 400;
    font-style: normal;
}